<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add stock</title>
    <link rel="stylesheet" href="styles.css"> 
</head>
<body>
    <h4>Here you can add your stock.</h4>
    <form action="/AddData" method="POST">
        <center>
            <h1>Enter the following details!</h1><br>
            <div>
                <label for="Product Id">product Id </label>
                <input type="number" name="pid" class="ff"> <br><br>
            </div>
            </tr>
            <div>
                <label for="Product Name">Product Name</label>
                <input type="text" name="name" class="ff"><br><br>
            </div>
            <div>
                <label for="Model Name">Model Name</label> 
                <input type="text" name="model" class="ff"><br><br>
            </div>
            <div>
                <label for="Color">Color</label>          
                <input type="text" name="color" class="ff"><br><br>
            </div>
            <div>
                <label for="feature">Feature</label>
                <input type="text" name="feature" class="ff"><br><br>
            </div>
            <div>
                <label for="Price">Price</label>          
                <input type="text" name="price" class="ff"><br><br>
            </div>
            <div>
                <label for="stock">Stock</label>
                <input type="number" name="stock" class="ff"><br><br>
            </div>           
            </table>
            <button type="submit">submit</button>
        </center>
    </form>
</body>
</html>