<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete stock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <center>
        <h1>Enter the product ID to be deleted.</h1>
        <form action="/delete" method="POST">
            <label for="product id">Product ID</label>
            <input type="number" name="pid" class="ff"><br><br>
            <button type="submit">Submit</button>
        </form>
    </center>
    </body>
</html>