<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Stock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/update" method="POST">
        <center>
            <h2>Enter the stock details to be updated.</h2>
            <div>
                <label for="product Id">Product Id</label>
                <input type="number" name="pid" class="ff">
            </div>
            <div>
                <label for="stock">Stock</label>
                <input type="number" name="stock" class="ff">
            </div>
            <button type="submit">Submit</button>
        </center>
    </form>
</body>
</html>