<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Stock</title>
    <link rel="stylesheet" href="style.css">
     <!-- Font Awesome -->
     <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
     <!-- Theme style -->
     <link rel="stylesheet" href="dist/css/adminlte.min.css">
     <!-- Google Font: Source Sans Pro -->
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> 
</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
				<a class="nav-link" data-widget="pushmenu" href="#" role="button"> 
                      <i class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item d-none d-sm-inline-block">
				<a href="/" class="nav-link">Home</a>
				</li>
            </ul>
        </nav>
		<!-- /.navbar -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
			<a href="#" class="brand-link">
			  <span class="brand-text font-weight-light">Mobile Phone Inventory</span>
            </a>
			<!-- Sidebar -->
			<div class="sidebar">
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p class="text">Sales Details</p>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a href="/create" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p>Add Product</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/update" class="nav-link active">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p class="text">Update Sales</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/delete" class="nav-link">
                    <i class="nav-icon far fa-circle text-info"></i>
                    <p class="text">Delete Sales</p>
                    </a>
                </li>            
                </ul>
                </nav>
            <!-- /.sidebar-menu -->
        </div>
            <!-- /.sidebar -->
		</aside>
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<section class="content-header">
				<h1>Mobile Phone Inventory</h1>
			</section>
			<section class="content">
                <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Stock Details</h3>
                
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                          <i class="fas fa-times"></i></button>
                      </div>
                    </div>
                </div>
            </section>
            <div class="card">
                <form action="/updateData" method="POST">
                <center>
                    <h1>Enter the stock details to be updated.</h1><br>
                    <div>
                        <label for="pid" value="pid">Product Id&emsp;&emsp;&emsp;&emsp;</label>
                        <input type="number" id="pid" value="<%= id %>" name="pid" class="ff">
                    </div>
                    <div>
                        <label for="stock">Stock&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                        <input type="number" id="stock" value="stock" name="stock" class="ff"><br>
                    </div>
                    <br>
                    <button type="submit" value="update">Update</button>
                </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>